# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Anthony Macqueen

Objectives: 

- List popular languages used by Data Scientists
- List commonly used libraries used by Data Scienbtists
- Create a table
- Show examples of evaluating arithmetric expressions
- Evaluate an arithmetric expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
------
| JupyterLite |
| Anaconda |
| Google Colaboratory |

### Below are a few examples of evaluating arithmetic expressions in Python

3*4
3+(2+2)
3-4
3+(4**2)

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

str(200/60) + " hours"

'3.3333333333333335 hours'